Django>=4.2
djangorestframework>=3.15
django-cors-headers>=4.0
django-redis>=5.4
redis>=5.0
psycopg2-binary>=2.9
PyJWT>=2.8
passlib[bcrypt]>=1.7
python-decouple>=3.8
asgiref>=3.11.1
bcrypt>=5.0.0
passlib>=1.7.4
pip>=24.0
sqlparse>=0.5.5