Django==6.0.4
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-extensions==4.1
docx2txt==0.9
django-redis==6.0.0
redis==7.4.0
psycopg==3.3.3
psycopg2-binary==2.9.11
PyJWT==2.12.1
passlib[bcrypt]==1.7.4
python-decouple==3.8
asgiref==3.11.1
bcrypt==5.0.0
sqlparse==0.5.5
langchain_community==0.4.1
pdfplumber==0.11.9
pypdf==6.10.0
sentence-transformers==5.4.0
langchain-huggingface==1.2.1
langchain-ollama==1.1.0
faiss-cpu==1.13.2
langchain-deepseek==1.0.1
rank_bm25==0.2.2
langchain-classic==1.0.3
neo4j==6.1.0
langchain_neo4j==0.9.0
langchain_experimental==0.4.1